.header {

    &__body {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__fleg {
        display: flex;
        align-items: center;
    }

    &__date{
        font-size: 10px;
        line-height: 14px;
        margin-right: 8px;

    }
    &__logo{
        @media screen and (max-width: 576px){
            max-width: 130px;
        }
    }
    &__fleg-img{
        @media screen and (max-width: 576px){
            max-width: 40px;
        }
    }
}