.step8{
    background: url("../img/Electronics.jpg") no-repeat center/cover;
    height: 740px;
    margin-top: 118px;
    @media screen and (max-width: 1000px){
        margin-top: 50px;
    }
}
.survey-textend{
    font-size: 40px;

}
.eighthStep{
    justify-content: space-around;
}