@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: semi-bold;
}

@font-face {
  font-family: "Ubuntu";
  font-display: swap;
  src: url("../fonts/Ubuntu-Regular.woff") format("woff"), url("../fonts/Ubuntu-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "OpenSans", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
  scroll-behavior: smooth;
  z-index: 1;
  background: white;
}

body.active {
  overflow: hidden;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus,
:active {
  outline: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.topbar {
  background: #010A43;
  height: 50px;
}

.topbar__wrapper {
  padding: 3px 0 4px 0;
}

.topbar__text {
  color: #F9F9F9;
  text-align: center;
  font-size: 36px;
  line-height: 43px;
}

.header__body {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__fleg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__date {
  font-size: 10px;
  line-height: 14px;
  margin-right: 8px;
}

.survey__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 78px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.survey__form {
  max-width: 708px;
}

.survey__preview-text1 {
  margin-bottom: 16px;
}

.survey__preview-text2 {
  margin-bottom: 36px;
}

.survey__img {
  margin-left: 20px;
}

.form__title {
  font-weight: 700;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__input {
  border: 1px solid #adadad;
  border-radius: 10px;
  padding: 17px 15px;
  max-width: 464px;
  width: 100%;
  margin-right: 20px;
  margin-top: 15px;
}

.form__button {
  cursor: pointer;
  max-width: 224px;
  width: 100%;
  height: 51px;
  margin-top: 15px;
  background: #ff2e63;
  padding: 17px;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__text {
  font-size: 10px;
  line-height: 14px;
  max-width: 468px;
}

.step1 {
  background: url("../../img/back-bag.jpg") no-repeat center/cover;
  height: 740px;
  margin-top: 118px;
}

.survey-form {
  position: absolute;
  background: #F9F9F9;
  margin-left: auto;
  right: 103px;
  bottom: -240px;
  height: 510px;
  max-width: 528px;
  width: 100%;
  padding: 30px 20px 38px 20px;
}

.survey-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.survey-form__label input[type='radio'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.survey-form__label span {
  margin-left: 66px;
  font-size: 16px;
  line-height: 22px;
}

.survey-form__label span::before {
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 50%;
  left: 20px;
}

.survey-form__label input[type='radio']:checked + span::before {
  background: #FF2E63;
}

.survey-form__label:not(:first-child) {
  margin-top: 40px;
}

.survey-form__label::before {
  position: absolute;
  content: '';
  max-width: 488px;
  width: 100%;
  height: 2px;
  background: #22222233;
  bottom: -20px;
}

.survey-form__button {
  cursor: pointer;
  max-width: 488px;
  width: 100%;
  height: 60px;
  margin-top: 47px;
  background: #FF2E63;
  padding: 17px;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.survey-text {
  max-width: 390px;
  font-size: 36px;
  line-height: 43px;
  margin-top: 35px;
}

.step2 {
  background: url("../../img/back-bag.jpg") no-repeat center/cover;
  height: 740px;
  margin-top: 118px;
}

.survey-form2 {
  position: absolute;
  background: #F9F9F9;
  margin-left: auto;
  right: 103px;
  top: -148px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 528px;
  width: 100%;
  padding: 30px 20px 38px 20px;
}

.survey-form2__textarea {
  border: 1px solid #222;
  max-width: 488px;
  width: 100%;
  min-height: 200px;
  border-radius: 15px;
  padding: 15px 10px;
  margin-top: 32px;
}

.survey-form2__textarea.hide {
  display: none;
}

.survey-form2__button2 {
  cursor: pointer;
  max-width: 488px;
  width: 100%;
  height: 60px;
  margin-top: 47px;
  background: #FF2E63;
  padding: 17px;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.survey-form2__label-other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.survey-form2__label-other input[type='radio'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.survey-form2__label-other span {
  margin-left: 66px;
  font-size: 16px;
  line-height: 22px;
  margin-top: 40px;
}

.survey-form2__label-other span::before {
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 50%;
  left: 20px;
}

.survey-form2__label-other input[type='radio']:checked + span::before {
  background: #FF2E63;
}

.survey-form2__label-other::before {
  position: absolute;
  content: '';
  max-width: 488px;
  width: 100%;
  height: 2px;
  background: #22222233;
  bottom: -20px;
}

.step3 {
  background: url("../../img/musicbox.jpg") no-repeat center/cover;
  height: 740px;
  margin-top: 118px;
}

.footer {
  background: #010A43;
  height: 344px;
  margin-top: 170px;
}

.footer__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.footer__pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.footer__text {
  color: #F9F9F9;
  font-size: 16px;
  line-height: 22px;
  margin-top: 48px;
}

.footer__text2 {
  color: #F9F9F9;
  font-size: 16px;
  line-height: 22px;
  margin-top: 56px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  color: #F9F9F9;
  position: relative;
}

a:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: #F9F9F9;
  bottom: -5px;
  left: 0;
}

.webp .step1 { background: url(../../img/back-bag.webp) no-repeat center/cover; }

.webp .step2 { background: url(../../img/back-bag.webp) no-repeat center/cover; }

.webp .step3 { background: url(../../img/musicbox.webp) no-repeat center/cover; }